<!DOCTYPE html>
<!--
	TODO:
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Code Elegant Softball Stats</title>
    <link href="/public/css/overrides.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>