<div class="container" id="log">
    <h4 id="name"></h4>
    <form id="logData">
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Date:</strong></span>
                <input type="date" name="gameDate" id="gameDate" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Hits:</strong></span>
                <input type="number" name="gameHits" id="gameHits" size="2" maxlength="3" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Runs:</strong></span>
                <input type="number" name="gameRuns" id="gameRuns" size="2" maxlength="4" class="u-pull-right">
            </div>
        </div>
        <div class="row text-center">
            <input class="button-primary" type="button" value="Enter Log" name="enterLog" id="enterLog">
        </div>
    </form>
</div>